.aboutpg {
    overflow: hidden;
    background: linear-gradient(180deg, #6679DA 4%, #5C71D9 37%, #546BD8 65%, #4B63D7 76%, #2845D3 100%);
}

.aboutpg .header {
    width: 25em;
    height: 4em;
    margin: 2em auto 4em auto;
    justify-content: space-around;
    padding: 0.8em;
    display: flex;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 3px 4px 8.9 0.5 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.aboutpg .title {
    width: 75%;
    display: block;
    text-align: start;
}

.aboutpg .header h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #000;
}

.aboutpg .header p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: start;
    color: #767676;
}

.aboutpg .header img {
    width: 4em;
    height: 4em;
}

.aboutpg h1 {
    font-weight: 400;
    font-size: 2.1em;
    text-align: center;
    margin: -1em;
}

.aboutpg .info {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 4.5em;
    width: 98.5%;
    height: 100%;
    padding: 2em;
    border-radius: 4em 4em 0 0;
    display: block;
}

.aboutpg .info * {
    color: #000;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    text-align: start;
}

.aboutpg .info #intro {
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    margin-top: 1em;
}

.aboutpg .info #content {
    font-size: 1.1em;
    font-weight: 300;
    padding: 0;
    margin-top: 1em;
}

.aboutpg #back-btn {
  background-color: transparent;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  margin-top: 3em;
  font-weight: 500;
  border: none;
}