
:root{
  width: 100%;
  height: 100%;
}

.homepg {
  background: linear-gradient(180deg, #6679DA 4%, #5C71D9 37%, #546BD8 65%, #4B63D7 76%, #2845D3 100%);
  margin-top: -4.5em;
}

.background-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(180deg, #2845D3 0%, #6479E2 59%, #7B8DE8 100%);
}

.circle1 {
  width: 220px;
  height: 220px;
  top: 50px;
  right: 45em;
  opacity: 0.5;
}

.circle2 {
  width: 572px;
  height: 572px;
  top: 180px;
  left: 30em;
}

.circle3 {
  width: 362px;
  height: 362px;
  bottom: 200px;
  right: -80px;
  opacity: 0.6;
}

.circle4 {
  width: 230px;
  height: 230px;
  bottom: 10em;
  left: 0px;
}

.circle5 {
  width: 90px;
  height: 90px;
  bottom: 8em;
  left: 40%;
  opacity: 0.9;
}

.homepg div * {
  z-index: 1;
}

.homepg .title {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  margin-right: 4em;
}

#your {
  font-weight: 500;
  margin-right: 5em;
  font-size: 2.4em;
}

#journey {
  font-family: 'MigraLightItalic';
  margin-left: 1em;
  margin-top: -0.65em;
  font-size: 3.7em;
  letter-spacing: -3%;
  font-weight: 300;
}

#begins {
  font-weight: 400;
  font-style: italic;
  font-size: 2.3em;
  margin-top: -0.7em;
  margin-right: 2em;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0 5em;
  margin-top: -5em;

}

#house {
  width: 75em;
  height: auto;
  margin-top: -7em;
}

.inside-container {
  margin: auto -30em auto 0;
  width: 50em;
  display: block;
  text-align: center;
  margin-top: 15em;
}

.inside-container h3 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 5em;
  line-height: 1;
}

.inside-container #start-btn {
  background: linear-gradient(90deg, #667AE3 0%, #475FDB 64%, #2845D3 100%);
  border: none;
  padding: 0.2em 0.8em;
  font-family: 'MigraLightItalic';
  font-size: 3.2em;
  margin: 0.8em auto 0 auto;
  margin-left: -0.2em;
  border-radius: 12px;
  letter-spacing: 2px;
  box-shadow: 3px 4px 11px 3px rgba(0,0,0,0.25);
}

button:hover {
  cursor: pointer;
}

p {
  margin: 5.5em auto;
  padding-bottom: 5em;
  text-align: center;
  font-size: 2.2em;
  width: 30%;
  font-weight: 300;
  line-height: 1.1;
}