:root{
  width: 100%;
  height: 100%;
}

.homepg {
  background: linear-gradient(180deg, #6679DA 4%, #5C71D9 37%, #546BD8 65%, #4B63D7 76%, #2845D3 100%);
  margin-top: -5em;
}

.homepg .background-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.homepg .circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(180deg, #2845D3 0%, #6479E2 59%, #7B8DE8 100%);
}

.homepg .circle1 {
  width: 220px;
  height: 220px;
  top: 1.5em;
  right: 28em;
  opacity: 0.5;
}

.homepg .circle2 {
  width: 28em;
  height: 28em;
  top: 6em;
  left: 18em;
  opacity: 0.85;
}

.homepg .circle3 {
  width: 18em;
  height: 18em;
  bottom: 8em;
  right: -80px;
  opacity: 0.6;
}

.homepg .circle4 {
  width: 12em;
  height: 12em;
  bottom: 6em;
  left: 0px;
  opacity: 0.45;
}

.homepg .circle5 {
  width: 6em;
  height: 6em;
  bottom: 0;
  left: 30em;
  opacity: 0.8;
}

.homepg div * {
  z-index: 1;
}

.homepg .title {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  margin-right: 4em;
}

.homepg #your {
  font-weight: 500;
  margin-right: 5em;
  font-size: 2.5em;
}

.homepg #journey {
  font-family: 'MigraLightItalic';
  margin-left: 1em;
  margin-top: -0.65em;
  font-size: 3.7em;
  letter-spacing: -3%;
  font-weight: 300;
}

.homepg #begins {
  font-weight: 400;
  font-style: italic;
  font-size: 2.3em;
  margin-top: -0.7em;
  margin-right: 2em;
}

.homepg .container {
  display: flex;
  justify-content: space-around;
  padding: 0 5em;
  margin-top: -5em;
  margin-left: 2em;
}

.homepg #house {
  width: 58em;
  height: auto;
  margin-top: -3em;
  margin-left: 10em;
  z-index: 0;
}

.homepg .inside-container {
  margin: auto -28em auto 0;
  width: 25em;
  display: block;
  text-align: center;
  margin-top: 12em;
}

.homepg .inside-container h3 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1;
}

.homepg .inside-container #start-btn {
  background: linear-gradient(90deg, #667AE3 0%, #475FDB 64%, #2845D3 100%);
  border: none;
  padding: 0.2em 0.8em;
  font-family: 'MigraLightItalic';
  font-size: 2.1em;
  margin: 0.8em auto 0 auto;
  margin-left: -0.2em;
  border-radius: 12px;
  letter-spacing: 2px;
  box-shadow: 3px 4px 11px 3px rgba(0,0,0,0.25);
  z-index: 1;
}

button:hover {
  cursor: pointer;
}

.homepg p {
  margin: 5.5em auto;
  padding-bottom: 2.5em;
  text-align: center;
  font-size: 1.5em;
  width: 30%;
  font-weight: 300;
  line-height: 1.1;
}